body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p {
  font-family: Arial, Helvetica, sans-serif;
}

.h1,
.h2,
.h3,
.h4 {
  font-family: "Roboto", sans-serif;
}

.image-link {
  text-decoration: none;
  color: white;
  display: inline-block;
}

h1 {
  word-spacing: 20px;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 1px;
  text-align: right;
  display: flex;
}

.text-zoom {
  transition: transform 0.5s ease;
}

.text-zoom:hover {
  transform: scale(1.2);
}

.c6,
.c7,
.c8,
.c9,
.c10,
.c11,
.c12,
.c13,
.c14,
.c15 {
  flex: 1;
  text-align: center;
  letter-spacing: 1px;
}

.nav-text {
  text-decoration: none;
  color: white;
  margin: 10px;
}

footer {
  background-color: #444;
  color: #fff;
  width: 100%;
  height: 120px;
}

.text-footer {
  margin: 20px;
  display: flex;
}

.right-columnf,
.left-columnf {
  flex: 1;
}

.left-columnf {
  text-align: right;
}

.text-link {
  color: white;
  text-decoration: none;
}

.text-link:hover {
  color: blue;
}

.logo {
  transition: transform 0.5s ease;
}

.logo:hover {
  transform: scale(1.2);
}

.text-zoom {
  transition: transform 0.5s ease;
}

.text-zoom:hover {
  transform: scale(1.2);
}

.baniere {
  width: 100%;
  height: 250px;
  background-image: url(ville-orange.jpg);
}

.space1 {
  height: 70px;
}

.space2 {
  height: 30px;
}

.space3 {
  height: 50px;
}

.baniere1 {
  background-color: #444;
  display: flex;
  border-radius: 30px;
  width: 95%;
  margin-left: 2.5%;
}

.right-column1,
.left-column1 {
  flex: 1;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.text-1 {
  font-size: 18;
  padding: 15px;
  width: 90%;
  color: white;
}

.photo-lycee {
  width: 70%;
  margin-top: 6%;
  border-radius: 20px;
}

.baniere2 {
  background-color: #444;
  display: flex;
  border-radius: 30px;
  width: 95%;
  margin-left: 2.5%;
  transform: translateX(150%);
  transition: transform 1s ease, opacity 1.25s ease;
}

.baniere2.visible {
  opacity: 1;
  transform: translateX(0);
}

.right-column2,
.left-column2 {
  flex: 1;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.text-2 {
  font-size: 18;
  padding: 15px;
  width: 90%;
  color: white;
}

.photo-ecole {
  width: 70%;
  margin-top: 8%;
  border-radius: 20px;
}

.baniere3 {
  background-color: #444;
  display: flex;
  border-radius: 30px;
  width: 95%;
  margin-left: 2.5%;
  transform: translateX(-150%);
  transition: transform 1s ease, opacity 1.25s ease;
}

.baniere3.visible {
  opacity: 1;
  transform: translateX(0);
}

.right-column3,
.left-column3 {
  flex: 1;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.text-3 {
  font-size: 18;
  padding: 15px;
  width: 90%;
  color: white;
}

.photo-bde {
  width: 35%;
  margin-top: 5%;
}

.cv {
  display: flex;
}

.button-container-1,
.button-container-2 {
  flex: 1;
  text-align: center;
}

.button-container-1 {
  margin-left: 28%;
}

.button-container-2 {
  margin-right: 28%;
}

.button-1 {
  display: inline-block;
  width: 220px;
  height: 60px;
  font-size: 16px;
  color: #fff;
  background-color: #444;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.button-1:hover {
  background-color: #333;
  transform: scale(1.2);
  cursor: pointer;
}

.text-button-1 {
  margin: 21px;
}

.button-2 {
  display: inline-block;
  width: 220px;
  height: 60px;
  font-size: 16px;
  color: #fff;
  background-color: #444;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.button-2:hover {
  background-color: #333;
  transform: scale(1.2);
  cursor: pointer;
}

.text-button-2 {
  margin: 21px;
}
